In [6]:
import pandas as pd

In [9]:
tp='OZ.csv'
OZ=pd.read_csv(tp)
OZ.head()

,Unnamed: 0,Designated Qualified Opportunity Zones,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"This document was updated December 14, 2018, t...",NaN,NaN,NaN,NaN
1,Please note that the below list of designated ...,NaN,NaN,NaN,NaN
2,Bulletin at a later date.,NaN,NaN,NaN,NaN
3,Click arrow to filter state\n\nState,County,Census Tract Number,Tract Type,ACS Data Source
4,Alabama,Autauga,01001020700,Low-Income Community,2011-2015

In [14]:
df = OZ.set_index("Designated Qualified Opportunity Zones")

In [17]:
OZ1 = df.loc["Cook", "Unnamed: 2"]
OZ1.head()

Designated Qualified Opportunity Zones
Cook    13075960200
Cook    17031230600
Cook    17031231200
Cook    17031231500
Cook    17031251300
Name: Unnamed: 2, dtype: object

In [21]:
OZ_df=pd.DataFrame(OZ1)
OZ_df.to_csv('OZcook.csv')
OZ_df

                                         Unnamed: 2
Designated Qualified Opportunity Zones
Cook                                    13075960200
Cook                                    17031230600
Cook                                    17031231200
Cook                                    17031231500
Cook                                    17031251300
Cook                                    17031251500
Cook                                    17031251800
Cook                                    17031251900
Cook                                    17031260200
Cook                                    17031260600
Cook                                    17031270500
Cook                                    17031271200
Cook                                    17031271300
Cook                                    17031271800
Cook                                    17031280400
Cook                                    17031280900
Cook                                    17031290900
Cook                                    17031291200
Cook                                    17031292200
Cook                                    17031292500
Cook                                    17031301200
Cook                                    17031340600
Cook                                    17031350100
Cook                                    17031351100
Cook                                    17031351400
Cook                                    17031351500
Cook                                    17031380100
Cook                                    17031380500
Cook                                    17031381400
Cook                                    17031390300
...                                             ...
Cook                                    17031830300
Cook                                    17031834000
Cook                                    17031834200
Cook                                    17031834300
Cook                                    17031834400
Cook                                    17031834500
Cook                                    17031834600
Cook                                    17031834700
Cook                                    17031834800
Cook                                    17031834900
Cook                                    17031835000
Cook                                    17031835500
Cook                                    17031835900
Cook                                    17031836000
Cook                                    17031836100
Cook                                    17031836900
Cook                                    17031837000
Cook                                    17031838600
Cook                                    17031838700
Cook                                    17031838800
Cook                                    17031841000
Cook                                    17031841400
Cook                                    17031841500
Cook                                    17031841800
Cook                                    17031842100
Cook                                    17031842900
Cook                                    17031843000
Cook                                    17031843300
Cook                                    17031843600
Cook                                    27031480100

[183 rows x 1 columns]