In [15]:
import pandas as pd

In [16]:
tp='OZcook.csv'
OZ=pd.read_csv(tp)

In [17]:
OZ['geoid'] = "14000US" + OZ['Unnamed: 2'].astype(str)

In [18]:
ap='pop17C.csv'
pop=pd.read_csv(ap)
pop.head()

,geoid,name,B01003001,"B01003001, Error"
0,14000US17031010100,"Census Tract 101, Cook, IL",4444,444
1,14000US17031010201,"Census Tract 102.01, Cook, IL",7197,787
2,14000US17031010202,"Census Tract 102.02, Cook, IL",2487,301
3,14000US17031010300,"Census Tract 103, Cook, IL",6413,540
4,14000US17031010400,"Census Tract 104, Cook, IL",5411,566

In [48]:
lp='employmentC.csv'
employ=pd.read_csv(lp)
employ.head()

,geoid,name,B23025001,"B23025001, Error",Unnamed: 4,"B23025002, Error",Civilian Labor Force,"B23025003, Error",Employed,"B23025004, Error",Unemployed,"B23025005, Error",B23025006,"B23025006, Error",B23025007,"B23025007, Error"
0,14000US17031010100,"Census Tract 101, Cook, IL",3547,345,2616,308,2616,308,2405,283,211,122,0,11,931,282
1,14000US17031010201,"Census Tract 102.01, Cook, IL",5617,637,3404,405,3404,405,3129,400,275,129,0,15,2213,437
2,14000US17031010202,"Census Tract 102.02, Cook, IL",2095,233,1318,189,1318,189,1224,185,94,53,0,11,777,149
3,14000US17031010300,"Census Tract 103, Cook, IL",5655,434,3384,335,3384,335,3149,301,235,156,0,15,2271,376
4,14000US17031010400,"Census Tract 104, Cook, IL",4783,423,2916,380,2916,380,2663,376,253,121,0,15,1867,301

In [49]:
employ2=employ.loc[:, ["geoid", "Civilian Labor Force", "Employed", "Unemployed"]]
employ2.head()

                geoid  Civilian Labor Force  Employed  Unemployed
0  14000US17031010100                  2616      2405         211
1  14000US17031010201                  3404      3129         275
2  14000US17031010202                  1318      1224          94
3  14000US17031010300                  3384      3149         235
4  14000US17031010400                  2916      2663         253

In [51]:
mp='censustract-00-10.csv'
poppop=pd.read_csv(mp)

 # Using .rename(columns={}) in order to rename columns
    
poppop2 = poppop.rename(columns={"GEOID":"geoid"})
poppop3=poppop2.loc[:,['geoid', 'POP00', 'POP10']]
poppop3.head()

        geoid  POP00  POP10
0  1001020100   1906   1912
1  1001020200   1894   2170
2  1001020300   3340   3373
3  1001020400   4574   4386
4  1001020500   6081  10766

In [52]:
pop_df= pd.DataFrame(poppop3)

In [53]:
pop_df['geoid']=pop_df['geoid'].astype(str)

In [54]:
pop_df['geoid'] = "14000US" + pop_df['geoid'].astype(str)

In [55]:
merge_ = pd.merge(pop_df, OZ, on="geoid")
merge_.head()

,geoid,POP00,POP10,Designated Qualified Opportunity Zones,Unnamed: 2
0,14000US13075960200,4044,4002,Cook,13075960200
1,14000US17031230600,7561,6818,Cook,17031230600
2,14000US17031231200,7500,6095,Cook,17031231200
3,14000US17031231500,7624,6039,Cook,17031231500
4,14000US17031251300,6255,4921,Cook,17031251300

In [56]:
tp='income.csv'
income=pd.read_csv(tp)
income.head()

,geoid,name,B19013001,"B19013001, Error"
0,14000US17031010100,"Census Tract 101, Cook, IL",33750,10701
1,14000US17031010201,"Census Tract 102.01, Cook, IL",40841,7069
2,14000US17031010202,"Census Tract 102.02, Cook, IL",36563,8731
3,14000US17031010300,"Census Tract 103, Cook, IL",36870,3386
4,14000US17031010400,"Census Tract 104, Cook, IL",39634,8452

In [57]:
merge_table = pd.merge(pop, merge_, on="geoid")

In [58]:
merge2 = pd.merge(merge_table, income, on="geoid")

In [59]:
df = merge2.rename(columns={"B01003001":"Population 12-17", "B01003001, Error":"Population, error", "B19013001":"Median Income", "B19013001, Error": "Median Income Error", "name_x": "Census Tract"})

In [60]:
df2 = pd.merge(df, employ2, on="geoid")

In [61]:
df2['geoid']=df2['geoid'].astype(str)

In [62]:
df2= df2.drop(['name'], axis=1)

KeyError: "['name'] not found in axis"

In [63]:
del df2['name_y']
df2.head()

,geoid,Census Tract,Population 12-17,"Population, error",POP00,POP10,Designated Qualified Opportunity Zones,Unnamed: 2,Median Income,Median Income Error,Civilian Labor Force,Employed,Unemployed
0,14000US17031230600,"Census Tract 2306, Cook, IL",6606,748,7561,6818,Cook,17031230600,34716,3940,3091,2457,634
1,14000US17031231200,"Census Tract 2312, Cook, IL",6138,647,7500,6095,Cook,17031231200,29120,8497,2636,2295,341
2,14000US17031231500,"Census Tract 2315, Cook, IL",6699,1229,7624,6039,Cook,17031231500,28013,6082,2444,2105,339
3,14000US17031251300,"Census Tract 2513, Cook, IL",4446,522,6255,4921,Cook,17031251300,29255,3821,1960,1539,421
4,14000US17031251500,"Census Tract 2515, Cook, IL",4194,620,5475,4784,Cook,17031251500,21567,6339,1804,1375,429

In [73]:
df2['Population 12-17']=df2['Population 12-17'].astype(int)
df2['POP10']=df2['POP10'].astype(int)
df2['POP00']=df2['POP00'].astype(int)

In [74]:
percent_change = ((df2["Population 12-17"]-df2['POP00'])/df2['POP00'])*100
df2["% Change Pop"] = percent_change

In [77]:
percent_unem = (df2["Unemployed"]/df2['Civilian Labor Force'])*100
df2["% Unemployment"] = percent_unem

In [79]:
df2= df2.drop(['Designated Qualified Opportunity Zones'], axis=1)

In [80]:
df2.to_csv('new2.csv')
df2

,geoid,Census Tract,Population 12-17,"Population, error",POP00,POP10,Unnamed: 2,Median Income,Median Income Error,Civilian Labor Force,Employed,Unemployed,% Change Pop,% Unemployment
0,14000US17031230600,"Census Tract 2306, Cook, IL",6606,748,7561,6818,17031230600,34716,3940,3091,2457,634,-12.630604,20.511161
1,14000US17031231200,"Census Tract 2312, Cook, IL",6138,647,7500,6095,17031231200,29120,8497,2636,2295,341,-18.160000,12.936267
2,14000US17031231500,"Census Tract 2315, Cook, IL",6699,1229,7624,6039,17031231500,28013,6082,2444,2105,339,-12.132739,13.870704
3,14000US17031251300,"Census Tract 2513, Cook, IL",4446,522,6255,4921,17031251300,29255,3821,1960,1539,421,-28.920863,21.479592
4,14000US17031251500,"Census Tract 2515, Cook, IL",4194,620,5475,4784,17031251500,21567,6339,1804,1375,429,-23.397260,23.780488
5,14000US17031251800,"Census Tract 2518, Cook, IL",5275,670,6320,5112,17031251800,23295,7550,1922,1557,365,-16.534810,18.990635
6,14000US17031251900,"Census Tract 2519, Cook, IL",4862,721,7456,5731,17031251900,20092,2502,1821,1286,535,-34.790773,29.379462
7,14000US17031260200,"Census Tract 2602, Cook, IL",1223,268,1455,1136,17031260200,33750,12220,441,351,90,-15.945017,20.408163
8,14000US17031260600,"Census Tract 2606, Cook, IL",1989,435,3374,2478,17031260600,20882,5029,574,393,181,-41.049200,31.533101
9,14000US17031270500,"Census Tract 2705, Cook, IL",1690,257,1346,1689,17031270500,16103,5104,648,497,151,25.557207,23.302469
10,14000US17031271200,"Census Tract 2712, Cook, IL",1214,203,1321,1170,17031271200,26098,4047,371,304,67,-8.099924,18.059299
11,14000US17031271300,"Census Tract 2713, Cook, IL",1261,247,1242,1045,17031271300,24878,22262,465,380,85,1.529791,18.279570
12,14000US17031271800,"Census Tract 2718, Cook, IL",783,275,1228,970,17031271800,16477,3083,201,167,34,-36.237785,16.915423
13,14000US17031280400,"Census Tract 2804, Cook, IL",1715,330,1450,1366,17031280400,35275,20006,647,542,105,18.275862,16.228748
14,14000US17031280900,"Census Tract 2809, Cook, IL",1014,154,1244,942,17031280900,19485,4584,457,321,136,-18.488746,29.759300
15,14000US17031290900,"Census Tract 2909, Cook, IL",4076,450,4606,4530,17031290900,24071,5542,1531,1029,502,-11.506730,32.789027
16,14000US17031291200,"Census Tract 2912, Cook, IL",2664,353,3054,2240,17031291200,24650,6411,1048,756,292,-12.770138,27.862595
17,14000US17031292200,"Census Tract 2922, Cook, IL",2922,393,3195,2961,17031292200,31902,10875,1070,786,284,-8.544601,26.542056
18,14000US17031292500,"Census Tract 2925, Cook, IL",4070,523,5575,4140,17031292500,40324,6440,1797,1435,362,-26.995516,20.144686
19,14000US17031301200,"Census Tract 3012, Cook, IL",3435,469,4961,4012,17031301200,26076,1861,1407,1211,196,-30.759927,13.930348
20,14000US17031340600,"Census Tract 3406, Cook, IL",995,198,1310,907,17031340600,11622,2053,334,184,150,-24.045802,44.910180
21,14000US17031350100,"Census Tract 3501, Cook, IL",2239,219,2310,2144,17031350100,43548,4458,1340,1234,106,-3.073593,7.910448
22,14000US17031351100,"Census Tract 3511, Cook, IL",2102,249,4734,1960,17031351100,10825,1725,678,459,219,-55.597803,32.300885
23,14000US17031351400,"Census Tract 3514, Cook, IL",1939,246,1405,1437,17031351400,13149,3095,904,534,370,38.007117,40.929204
24,14000US17031351500,"Census Tract 3515, Cook, IL",507,116,2215,255,17031351500,23700,4328,270,212,58,-77.110609,21.481481
25,14000US17031380100,"Census Tract 3801, Cook, IL",1932,293,1361,1924,17031380100,19328,3510,734,563,171,41.954445,23.297003
26,14000US17031380500,"Census Tract 3805, Cook, IL",800,168,1189,752,17031380500,19358,2473,353,249,104,-32.716569,29.461756
27,14000US17031381400,"Census Tract 3814, Cook, IL",1660,322,1354,1612,17031381400,38167,9105,863,746,117,22.599705,13.557358
28,14000US17031390300,"Census Tract 3903, Cook, IL",2830,455,2754,2743,17031390300,21769,5041,1294,1026,268,2.759622,20.710974
29,14000US17031400300,"Census Tract 4003, Cook, IL",1347,201,1650,1567,17031400300,29417,16339,603,463,140,-18.363636,23.217247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,14000US17031711400,"Census Tract 7114, Cook, IL",2424,258,2969,2654,17031711400,37434,6542,969,792,177,-18.356349,18.266254
106,14000US17031750600,"Census Tract 7506, Cook, IL",3426,543,4485,3681,17031750600,34470,10485,1289,1053,236,-23.612040,18.308766
107,14000US17031834000,"Census Tract 8340, Cook, IL",2956,438,4018,3632,17031834000,34864,10981,1419,1154,265,-26.431060,18.675123
108,14000US17031834200,"Census Tract 8342, Cook, IL",4310,799,5996,4944,17031834200,33835,9121,2020,1711,309,-28.118746,15.297030
109,14000US17031834300,"Census Tract 8343, Cook, IL",6384,782,7106,6570,17031834300,34140,12164,2520,2064,456,-10.160428,18.095238
110,14000US17031834400,"Census Tract 8344, Cook, IL",4487,566,3458,3772,17031834400,38233,5681,1997,1734,263,29.757085,13.169755
111,14000US17031834500,"Census Tract 8345, Cook, IL",1273,229,1717,1475,17031834500,31483,6443,495,356,139,-25.859056,28.080808
112,14000US17031834600,"Census Tract 8346, Cook, IL",2535,585,5129,3778,17031834600,21196,5819,1096,692,404,-50.575161,36.861314
113,14000US17031834700,"Census Tract 8347, Cook, IL",1748,366,2915,2078,17031834700,21802,4224,617,439,178,-40.034305,28.849271
114,14000US17031834800,"Census Tract 8348, Cook, IL",1566,227,2894,1953,17031834800,20559,3623,605,380,225,-45.888044,37.190083
115,14000US17031834900,"Census Tract 8349, Cook, IL",1859,269,2906,2272,17031834900,18401,4735,617,437,180,-36.028906,29.173420
116,14000US17031835000,"Census Tract 8350, Cook, IL",5579,614,6789,5778,17031835000,26926,2541,2523,1908,615,-17.822949,24.375743
117,14000US17031835500,"Census Tract 8355, Cook, IL",1444,181,2006,1677,17031835500,20517,4028,560,414,146,-28.015952,26.071429
118,14000US17031835900,"Census Tract 8359, Cook, IL",3170,339,3022,3271,17031835900,18856,3463,1435,1039,396,4.897419,27.595819
119,14000US17031836000,"Census Tract 8360, Cook, IL",2685,258,2737,2177,17031836000,60368,9004,1497,1193,304,-1.899890,20.307281
120,14000US17031836100,"Census Tract 8361, Cook, IL",2163,365,2852,1761,17031836100,25462,6428,923,722,201,-24.158485,21.776815
121,14000US17031836900,"Census Tract 8369, Cook, IL",1422,307,1384,1442,17031836900,26458,11075,497,385,112,2.745665,22.535211
122,14000US17031837000,"Census Tract 8370, Cook, IL",2028,330,2270,2085,17031837000,29911,12751,701,585,116,-10.660793,16.547789
123,14000US17031838600,"Census Tract 8386, Cook, IL",1467,267,1299,1598,17031838600,14850,4662,326,264,62,12.933025,19.018405
124,14000US17031838700,"Census Tract 8387, Cook, IL",4631,723,4921,4484,17031838700,22742,4568,1699,1261,438,-5.893111,25.779871
125,14000US17031838800,"Census Tract 8388, Cook, IL",3526,517,3695,3233,17031838800,19155,5558,1205,914,291,-4.573748,24.149378
126,14000US17031841000,"Census Tract 8410, Cook, IL",878,104,2052,849,17031841000,63125,24968,534,507,27,-57.212476,5.056180
127,14000US17031841400,"Census Tract 8414, Cook, IL",1189,248,1732,1559,17031841400,29338,9651,558,480,78,-31.351039,13.978495
128,14000US17031841500,"Census Tract 8415, Cook, IL",2932,351,3635,2962,17031841500,24858,4137,1149,915,234,-19.339752,20.365535
129,14000US17031841800,"Census Tract 8418, Cook, IL",2756,346,3201,2505,17031841800,36250,10636,1107,823,284,-13.901906,25.654923
130,14000US17031842100,"Census Tract 8421, Cook, IL",7664,1179,7637,6731,17031842100,33945,8000,3022,2597,425,0.353542,14.063534
131,14000US17031842900,"Census Tract 8429, Cook, IL",2050,239,4188,2341,17031842900,21325,3702,902,833,69,-51.050621,7.649667
132,14000US17031843000,"Census Tract 8430, Cook, IL",2689,292,2766,2378,17031843000,18036,5594,905,759,146,-2.783803,16.132597
133,14000US17031843300,"Census Tract 8433, Cook, IL",2144,342,1904,1228,17031843300,47829,17047,892,757,135,12.605042,15.134529
134,14000US17031843600,"Census Tract 8436, Cook, IL",2822,383,3101,2807,17031843600,35714,4670,1238,932,306,-8.997098,24.717286